<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <table class ="job-listing">
        @foreach (Job job in ViewBag.jobs)
        {
            <tr>
                <td>
                    ID: @job.Id; <br />
                    Name: @job.Employer <br />
                    Location: @job.Location <br />
                    Position: @job.PositionType <br />
                    Skill: @job.CoreCompetency 
                </td>

            </tr>
            //TODO #1: Use a loop to display job results in a table
        }
    </table>


</div>